<html>
    <body>
        <form method="post" action = "/predict">
            <input type="number" name="Pregnancies" placeholder="Pregnancies" required="required">
            <input type="number" name="Glucose" placeholder="Glucose" required="required">
            <input type="number" name="BloodPressure" placeholder="BloodPressure" required="required">
            <input type="number" name="SkinThickness" placeholder="SkinThickness" required="required">
            <input type="number" name="Insulin" placeholder="Insulin" required="required">
            <input type="number" name="BMI" placeholder="BMI" required="required">
            <input type="number" name="DiabetesPedigreeFunction" placeholder="DiabetesPedigreeFunction" required="required">
            <input type="number" name="Age" placeholder="Age" required="required">
            <button>Submit</button>
        </form>
    </body>
</html>